<!-- Bootstrap core JavaScript -->
{% load static %}
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/filter.js' %}"></script>
<script src="{% static 'js/jquery.appear.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
  <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
<script src="{% static 'gallery/js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
<script src="{% static 'gallery/js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
<script src="{% static 'gallery/js/bootstrap.min.js' %}"></script>
    <!-- Plugins js -->
<script src="{% static 'gallery/js/plugins.js' %}"></script>
    <!-- Active js -->
<script src="{% static 'gallery/js/active.js' %}"></script>

