{% extends "homebase.html" %}

{% block title %} User Update {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block head %}
    <link rel="shortcut icon" type="text/x-icon" href="{{ setting.icon.url }}" >
{% endblock %}
{% block content %}

    <!-- full Title -->
    <div class="full-title">
        <div class="container">
            <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3"></h1>
            <div class="breadcrumb-main">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item active"></li>
                </ol>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">
        <div>
            <div class="row">
                {% include 'user_panel.html' %}
                <div class="col-lg-9 mb-4">
                    <div class="card h-80">
                        <div class="card-header">
                            <div>USER INFORMATION</div>
                        </div>
                        <ul class="list-group" style="padding: 25px 25px">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}" role="alert">
                                        {{ message|safe }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div><img src="{{ user.userprofile.image.url }}" alt="" style="height: 120px;border-radius: 60px"></div>
                            {% load static %}
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <fieldset class="form-group">
                                    {{ user_form.as_p }}
                                    {{ profile_form.as_p }}
                                </fieldset>
                                <div class="form-group">
                                    <button class="btn btn-sm btn-primary" type="submit">Update</button>
                                </div>
                            </form>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
{% endblock %}