{% extends "homebase.html" %}

{% block title %} User Houses {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block head %}
    <link rel="shortcut icon" type="text/x-icon" href="{{ setting.icon.url }}" >
{% endblock %}
{% block content %}

    <!-- full Title -->
    <div class="full-title">
        <div class="container">
            <h1 class="mt-4 mb-3"></h1>
            <div class="breadcrumb-main">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item active"></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container">
        <div>
            <div class="row">
                {% include 'user_panel.html' %}
                <div class="col-lg-9 mb-4">
                    <div class="card h-80">
                        <div class="card-header">
                            <div>USER HOUSES</div>
                        </div>
                        <ul class="list-group" style="padding: 25px 25px">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}" role="alert">
                                        {{ message|safe}}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <table>
                                <tr>
                                    <th>Image</th>
                                    <th>House</th>
                                    <th>Category</th>
                                    <th>Gallery</th>
                                    <th>Rent</th>
                                    <th>Status</th>
                                </tr>
                                {% for rs in house %}
                                    <tr>
                                        <td>
                                            <a href="/house/{{ rs.id }}/{{ rs.slug }}"><img src="{{ rs.image.url }}" style="height: 30px;"></a>
                                        </td>
                                        <td>
                                            <a href="/house/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a>
                                        </td>
                                        <td>{{rs.category}}</td>
                                        <td>
                                            <a href="javascript:;" onclick="window.open('/user/houseaddimage/{{ rs.id }}', 'gallery', 'height=600,width=800,top=50,left=150')">Gallery</a>
                                        </td>
                                        <td>{{rs.rent}}</td>
                                        <td>{{rs.status}}</td>
                                        <td>
                                            <a class="btn btn-sm btn-primary" href="/user/edithouse/{{ rs.id }}">Edit</a>
                                        </td>
                                        <td>
                                            <a class="btn btn-sm btn-primary" href="/user/deletehouse/{{ rs.id }}" onclick="return confirm('Will be delete ! Are you sure?')">Delete</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                         <div><a class="btn btn-sm btn-primary" href="/user/addhouse/">ADD HOUSE</a></div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}